// colores
$primaryColor: #006998;
$primaryBgColor: #a7a6a6;
$secondaryBgColor: #F2F2F2;
$cards: rgb(96, 0, 164);

// Variables de tipografía
$fontFamilyBase: 'SuecaSlab', sans-serif;
$fontFamilySecondBase: 'Arial', sans-serif;
