.cardsSection{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 80px;
}
.articleCards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px rgba(128, 128, 128, 0.501);
    width: 350px;
}
.articleCards h2{
    font-size: 23px;
    text-align: center;
    padding: 0;
    font-family: 'SuecaSlab', sans-serif;
}
.cardsImage1{
    width: 100px;
}
.cardsImage2{
    width: 330px;
    padding-top: 10px;
}
.imageTextBox{
    display: flex;
    align-items: center;
    gap: 20px;
}
@media (max-width: 1100px) {
    .articleCards{
        width: 250px;
    }
    .articleCards h2{
        font-size: 1em;
        width: 90%;
    }
    .cardsImage2{
        width: 80%;
    }
    .cardsImage1{
        width: 30%;
        margin: 20px;
    }
    .authorName{
        font-size: 70%;
    }
}
@media (max-width: 600px) {
    .cardsSection{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

