.cardSection{
    text-align: center;
    font-family: 'SuecaSlab', sans-serif;  
    margin: 90px;
}
.cardSection h1{
    font-size: 3em;
}
.cardGroupContent{
    display: flex;
    justify-content: center;
    gap: 30px;
}

@media (max-width: 1100px) {
    .cardSection h1{
        font-size: 2em;
    }
    .cardBox img{
        width: 240px;
        height: 300px;
    }
    .cardBox p{
        width: 90%;
    }
}
@media (max-width: 800px) {
    .cardSection h1{
        font-size: 1.4em;
    }
    .cardBox img{
        width: 170px;
        height: 200px;
    }
    .cardBox p{
        font-size: 0.7em;
        width: 89%;
    }
}
@media (max-width: 650px) {
    .cardGroupContent{
        flex-direction: column;
        align-items: center;
    }
    .cardBox img{
        width: 270px;
        height: 330px;
    }
}
@media (max-width: 400px) {
    .cardSection h1{
        font-size: 1.2em;
    }
    .cardBox img{
        width: 170px;
        height: 200px;
    }
    .cardBox p{
        font-size: 0.7em;
        width: 89%;
    }
}