.homeTitle{
    display: flex;
    justify-content: center;    
    text-align: center;
    background: #1C1C1F;
    height: 80px;
    font-family: 'SuecaSlab', sans-serif;
}
.homeTitle h2{
    color: white;
    font-size: 1.7em;
}
.eclipseNew{
    background-color: #F2F2F2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}
.eclipseNew p{
    text-align: center;
    margin: 0;
    font-size: 1.1em;
    width: 50%;
    padding: 20px;
}
.eclipseAuthor{
    font-size: 1em;
    color: grey;
}
.publicity{
    text-align: center;
    display: flex;
    justify-content: center;
}
.publicity h4{
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: solid 1px grey;
    width: 130px;
}
@media (max-width: 900px) {
    .homeTitle{
        align-items: center;
    }
    .homeTitle h2{
        font-size: 1.2em;
    }
    .eclipseNew p{
        font-size: 0.9em;
    }
    .eclipseImage{
        width: 70%;
    }
}
@media (max-width: 500px) {
    .homeTitle h2{
        font-size: 0.9em;
    }
    .eclipseNew p{
        font-size: 0.7em;
    }
}