.leftFocusedArticleContent{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 90px;
    font-family: Arial, Helvetica, sans-serif;
}
.sideArticleLeft{
    display: flex;
    flex-direction: column;
    width: 600px;
}
.sideArticleLeft h2{
    text-align: left;
    font-size: 1.5em;
    font-family: 'SuecaSlab', sans-serif;
}
.rightFocusedArticleContent{
    display: flex;
    flex-direction: column;
}
.sideArticleRight{
    display: flex;
    flex-direction: column;    
    width: 600px ;
}
.imageRight{
    width: 500px;
}
.sideArticleRight h4{
    font-family: 'SuecaSlab', sans-serif;

}