
.navbarContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbarContent h1{
    color: #006998;
    font-size: 2.6em;
    margin: 0;
    cursor: pointer;
}
.leftButtons{
    display: flex;   
    gap: 20px;
}
.sectionButton{
    height:  auto;
    padding: 11px;
    border: none;
    border-radius: 7%;
    font-weight: 700;
    font-size: 0.9em;
    transition: 0.4s;
    cursor: pointer;
}
.sectionButton:hover{
    transition: 0.7s;
    background: #a7a6a6;
}
.searchField{      
    background: #F2F2F2;
    border: none;
    border-radius: 7%;
    font-weight: 700;
    width: 110px;
    text-align: center; 
    height: auto;
    transition: 0.4s;
}
.searchField:hover{
    transition: 0.7s;
    background: #a7a6a6;
}
.rightButtons button{
    font-weight: 600;
    border-radius: 7%;
    margin: 10px;
    padding: 11px;    
    font-size: 12px;
    cursor: pointer;
}
.subscribeButton{
    background: #FFFF24;
    border: 1px solid #c4c4c465;
    transition: 0.5s;
}
.subscribeButton:hover{
    transition: 0.5s;
    background: #dcdc2062;
    color: rgba(0, 0, 0, 0.874);
}
.loginButton{
    background: white;
    color: #0250C9;    
    border: 1px solid #0250C9;
    transition: 0.5s;
}
.loginButton:hover{
    transition: 0.5s;
    background: #0252c91b;
}
.financialInfo {
    background: #F2F2F2;
    display: flex;
    justify-content: space-evenly; 
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    align-items: center;
    margin-top: 13px;
}
.dolarBox{
    display: flex;
}
.dolarBox h4{
   margin-right: 18px;
}
.dolarBoxTitle{ 
    color: #0250C9;
}
.location{
    display: flex;
    align-items: center;
    gap: 10px;
}
.cloudIcon{
    font-size: 18px;
}
.newsletters a{
    text-decoration: none;
}
.newsletters h4{
    font-weight: 100;
}
.benefits{
    display: flex;
    align-items: center;
    gap: 17px;
}
.benefits h4{
    font-weight: 100;
}
@media (max-width: 1000px) {
    .financialInfo{
        font-size: 12px;
    }
}
@media (max-width: 800px) {
    .navbarContent h1{
        font-size: 1.8em;
    }
    .financialInfo{
        font-size: 10px;
    }
    .searchField{
        width: 90px;
        font-size: 0.7em;
    }
    .sectionButton{
        padding: 7px;
        font-size: 0.7em;
    }
    .rightButtons button{
        padding: 5px;
        font-size: 0.6em;
    }
}
@media (max-width: 600px) {
    .navbarContent h1{
        font-size: 1.3em;
    }
    .financialInfo{
        font-size: 9px;
    }
    .searchField{
        width: 80px;
        font-size: 0.6em;
    }
    .sectionButton{
        padding: 5px;
        font-size: 0.7em;
    }
    .rightButtons button{
        padding: 3px;
        margin: 0;
        display: flex;
        margin: 3px;
    }
    .sectionButton span {
        display: none;
      }
}